version: "3.9"

services:
  frontend:
    build:
      context: ./frontend
      args:
        NEXT_PUBLIC_API_URL: ${NEXT_PUBLIC_API_URL}
    ports:
      - "3000:3000"
    environment:
      - NEXT_PUBLIC_API_URL=${NEXT_PUBLIC_API_URL}
    depends_on:
      - backend

  backend:
    build: ./backend
    ports:
      - "8000:8000"
    volumes:
      - ./uploads:/app/uploads
      - ./backend:/app
    depends_on:
      - mongo
    environment:
      - GROK_API_KEY=${GROK_API_KEY}
      - ELEVEN_API_KEY=${ELEVEN_API_KEY}
      - ELEVEN_VOICE_ID=${ELEVEN_VOICE_ID}
      - MONGODB_URL=${MONGODB_URL}

  mongo:
    image: mongo:7
    restart: unless-stopped
    volumes:
      - mongo-data:/data/db

  tunnel:
    image: cloudflare/cloudflared:latest
    restart: unless-stopped
    command: tunnel --no-autoupdate run --token eyJhIjoiNTdlNjU2ZGNiNTljODE3YjRhNmYwZjUyNzBlNzkwMDEiLCJ0IjoiNjc2ZWY0NTYtNjg3Zi00YjkzLThjMjQtZDdjMTE2M2NlYmMzIiwicyI6IlpEWTJaamRsTnpjdE5EY3pOaTAwTnpjeUxXRmtPV0V0WVRJek5USmtOekV4T1RNeSJ9

volumes:
  mongo-data:
